
<h3>Update Library Details</h3></br></hr>

<%= form_for @library do |form| %>

  <% if @library.errors.any? %>
 <div id="error_explanation"> 
 <ul>
 <% @library.errors.each do |error| %>
 <li><%= error.full_message %></li>
 <% end %>
 </ul>
 </div>
 <% end %>

  <div class="field">
 <%= form.label :Name %>
 <%= form.text_field :name %>
 </div>

  <div class="field">
 <%= form.label :OpeningTime %>
 <%= form.time_select :opening_time %>
 </div>

  <div class="field">
 <%= form.label :ClosingTime %>
 <%= form.time_select :closing_time %>
 </div>

  <%= form.submit %>
<% end %>
<br>
<div style="text-align:center"><%= link_to "Back", libraries_path, class: "btn btn-primary" %></div>
